.form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: red;

    &-title {
        margin-top: 4em;
        label, input {
            padding-left: 0.5em;
            margin: 0.4em 0;
            text-align: left;
            display: block;
            width: 100%;
        }
        
    }

    &-body {
        margin: 2em 0;
        label, textarea {
            padding-left: 0.5em;
            margin: 0.4em 0;
            text-align: left;
            display: block;
            width: 100%;
        }
    }
    input[type=submit] {
        margin: 0 auto;
        background: blue;
        color: white;
        padding: 1em;
    }
}