.journallist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4em;

    .journal {
        // padding: 2em;
        width: 10em;
        &-title {
            
            width: 100%;
            background: #999;
        }
        border: 1px solid black;
        background-color: white;
    }

}